menuentry "snake" {
    multiboot /boot/main.elf bin/snake.elf
    boot 
}

menuentry "doom" {
    multiboot /boot/main.elf bin/doom.elf
    boot 
}

menuentry "test" {
    multiboot /boot/main.elf bin/test.elf
    boot
}